.cart {
	color: white;
	background-color: #31b572;
	padding: 32px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 30%;
	border-radius: 0 20px 0 0 ;
}

.cart-add-button {
	margin-left: 32px;
	cursor: pointer;
}

.cart-toggle-button {
	background: rgb(78, 76, 76);
	outline: none;
	border-radius: 20px;
	font-weight: 600;
	cursor: pointer;
	align-self: self-start;
	padding: 5px;
	color: white;
	align-self: flex-end;
}

.cart-closed {
	padding: 32px;
	width: 300px;
}

.cart-closed > button {
	color: rgb(249, 248, 248);
}

.cart-btn-vider{
	background-color: #842609;
	color: azure;
	border-radius: 15px;
	cursor: pointer;
}

.cart-titre-panier{
	text-align: center;
	padding-bottom: 20px;
	border-bottom: solid 2px black;
}