.isYes {
    background-color: greenyellow;
    border: 2px solid black;
    text-align: center;
    text-transform: uppercase;
    margin: 20px 30% 20px 30%;
    padding: 20px;
    border-radius: 20px 20px 0 0;
}
.isNo {
    background-color: #715634;
    color: aliceblue ;
    border: 2px solid black;
    text-align: center;
    text-transform: uppercase;
    margin: 20px 30% 20px 30%;
    padding: 20px;
    border-radius: 20px 20px 0 0;
    cursor: progress;
}