.shopping-list {
	width: 100%;
}

.plant-list {
	list-style-type: none;
	padding: 32px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.plant-button {
 background-color: rgb(28, 137, 88);
 border-radius: 10px;
 color: aliceblue;
 cursor: pointer;
}